body {
    background-image: url("Background.jpg");
}

.column
{
    float: left;
    width: 50%;
    text-align:middle;
    font-family: Cambria;
    font-weight: 700;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .border
  {
      border-block-color: green;
  }

  .font
  {
      color:darkslategray;
      font-weight: 500;
    
  }