.column
{
    float: left;
    width: 50%;
    text-align:middle;
    
}

.row:after 
{
    content: "";
    display: table;
    font-family: Cambria;
    clear: both;
}

.border
{
      border-block-color: green;
}

  .font
  {
      color:darkslategray;
      font-weight: 500;
  }